body {
    padding: 0; 
    margin: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.container-relative {
    width: 1140px;
    position: relative;
}

.header {
    background: url('../img/fon.jpg') no-repeat center top / cover;
    padding-bottom: 250px;
}

.nav {
    display: flex;
    align-items: center;
}

.logo {
    width: 100px;
}

.tel {
    margin-left: auto;
    color: #fff;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 25px;
}

.title-site {
    margin-top: 100px;
    text-align: center;
    color: #fff;
    font-family: 'Russo One';
    font-size: 70px;
}

.title-vvodniy {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 50px;
}

.text-vvodniy {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 25px;
}

.menu-tur {
    margin-left: 50px;
}

.stroka-tur {
    display: flex;
    align-items: center;
}

.triangle {
    border: 20px solid transparent;
    border-left: 40px solid #1F75FE;
    cursor: pointer;
    position: relative;
    right: 0;
    transition: right 0.5s ease-out;
}

.text-tur {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    font-weight: 300;
    cursor: pointer;
}

.img-tur {
    margin-top: 25px;
}

.img-tur img {
    width: 500px;
    margin-left: 10px;
    margin-bottom: 10px;
    transition: transform 0.5s ease;
}

.korotkoe-foto {
    transform: scale(100%, 108%) translateY(-4%);
}

.img-tur img:hover {
    transform: scale(104%, 105%);
}

.img-tur .korotkoe-foto:hover {
    transform: scale(104%, 113%) translateY(-4%);
}

.hidden-img-tur {
    display: none;
}

.korotkoe-foto2 {
    transform: scale(100%, 120%) translateY(-7%);
}

.img-tur .korotkoe-foto2:hover {
    transform: scale(104%, 125%) translateY(-7%);
}

.dlinnoe-foto3 {
    transform: scale(100%, 84%) translateY(9%);
}

.img-tur .dlinnoe-foto3:hover {
    transform: scale(104%, 89%) translateY(9%);
}

.tur {
    margin-bottom: 15px;
}

.text-vvodniy-bezopas {
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    font-weight: 400;
    margin-top: 10px;
}

.title-soveti-povedeniya {
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    text-align: center;
    margin-top: 10px;
}

.sovet {
    margin-bottom: 50px;
}

.sovet-name {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
}

.sovet-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

.animation-chel {
    margin-top: 30px;
}

.chel {
    display: inline-block;
    transform: translate(0, 64.5%);
    position: relative;
    left: 0;
    transition: transform 1s ease;
}

.doroga {
    height: 7px;
    background: #000;
}

.prepyatstviya {
    display: block;
    transform: translateY(15%);
}

.ostrie {
    display: inline;
    border: 30px solid transparent;
    border-bottom: 40px solid #000;
    margin-left: 220px;
    transform: translateY(-250%);
}

.brevno {
    display: inline;
    transform: translateY(50%);
    margin-left: 250px;
}

.cube {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: #000;
    margin-left: 850px;
    transform: translateY(-20%);
}

.animation-chel-stone {
    margin-top: -160px;
}

.chel2 {
    display: inline-block;
    transform: translate(220%, 4.5%);
    margin-left: 0;
}

.hand {
    display: inline-block;
    transform: translate(530%, -75%) rotate(20deg);
    transition: transform 0.55s cubic-bezier(.43,.35,.81,.37);
}

.stone {
    position: relative;
    left: 40px;
    bottom: 187px;
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: #000;
    transition: bottom 1.5s cubic-bezier(.14,.62,.42,.9), left 1.5s cubic-bezier(.14,.62,.42,.9);
}

.hand-stone-chel {
    display: inline-block;
}

.hidden {
    opacity: 0;
}

.window {
    position: relative;
    display: inline-block;
    transform: scale(40%, 40%);
    top: 40px;
    left: 550px;
}

.animation-chel-lie {
    margin-top: 50px;
}

.chel3 {
    margin-bottom: -10px;
    margin-left: 180px;
    transition: transform 0.5s ease;
}

.kust {
    width: 350px;
    margin-bottom: -22px;
    transform: translateX(12px)
}

.kust-chel {
    display: inline-block;
}

.ohrannik-div {
    display: inline-block;
}

.ohrannik {
    opacity: 0;
    position: relative;
    width: 200px;
    left: 400px;
    right: 0;
    bottom: -9px;
    transition: left 2s ease;
}

.title-itogo {
    margin-top: 70px;
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    text-align: center;
    margin-bottom: 15px;
}

.text-itogo {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    font-weight: 500;
    text-align: justify;
}

.otstup {
    margin-left: 43px;
}

.title-zakaz {
    margin-top: 60px;
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    text-align: center;
    margin-bottom: 15px;
}

.text-zakaz {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    font-weight: 500;
    text-align: justify;
    margin-bottom: 15px;
}

.tochka {
    position: relative;
    left: 20px;
    display: inline-block;
    background: #0047AB;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.knop-parent {
    position: relative;
    display: block;
    width: 300px;
    height: 120px;
    margin: 0 auto;
    margin-top: 77px;
    margin-bottom: 30px;
}

.knop-svyaz {
    width: 180px;
    font-family: 'Open Sans';
    font-size: 35px;
    padding: 4px;
    border: solid 3px #1F75FE;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s ease;
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
}

.knop-svyaz:hover {
    color: #fff;
    background: #1F75FE;
}

.hover-knop {
    position: absolute;
    left: 3.35em;
    top: 0em;
    width: 184px;
    height: 49px;
    padding: 0 4px 6px 0; 
    border-radius: 5px;
    border: solid 3px #1F75FE;
    cursor: pointer;
}

.effect-kontur {
    position: absolute;
    left: 3.35em;
    top: 0em;
    width: 184px;
    height: 49px;
    border-radius: 5px;
    border: solid 3px #1F75FE;
    padding: 0 4px 6px 0;
    opacity: 1;
    transition: all 0.7s ease;
}

.text-pred-footer {
    font-family: 'Open Snas', sans-serif;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    margin-top: 35px;
}

.footer-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    margin-top: 65px;
    margin-bottom: 35px;
    text-align: center;
}


@media screen and (max-width: 1200px) {
    .container {
        width: 1140px;
    }
}

@media screen and (max-width: 1199px) {
    .container {
        width: 960px;
    }
    .menu {
        margin-right: 100px;
    }
    
    .doroga1 {
        margin-top: -3px;
    } 
    .animation-chel {
        transform: scale(85%) translateX(-6.7%);
    }
    .prepyatstviya {
        transform: translateY(12.9%);
    }
    .doroga1 {
        width: 112.9%;
    }
    .animation-chel-stone {
        transform: scale(90%) translate(-3%);
    }
    .windowimg {
        width: 500px;
    }
    .doroga2 {
        width: 105%;
        margin-top: -1px;
    }
    .animation-chel-lie {
        transform: scale(80%) translateX(-11.5%);
    }
    .doroga3 {
        width: 122%;
        margin-top: -1px;
    }

    .img-tur img {
        width: 48%;
    }
} 

@media screen and (max-width: 991px) {
    .container {
        width: 720px;
    }
    .menu {
        margin-right: 0px;
        margin-left: -65px;
    }
    .animation-chel {
        transform: scale(65%) translateX(-25%);
        margin-top: -35px;
    }
    .doroga1 {
        width: 150%;
        margin-top: -0.7px;
    }
    .animation-chel-stone {
        transform: scale(70%) translateX(-20%);
    }
    .windowimg {
        width: 500px;
    }
    .doroga2 {
        width: 140%;
    }
    .animation-chel-lie {
        transform: scale(67%) translateX(30%);
        margin-top: -200px;
        margin-bottom: -100px;
    }
    .kust-chel {
        transform: translate(-25em, 18em);
    }
    .ohrannik {
        margin-left: 17%;
    }
    .doroga3 {
        width: 147%;
        transform: translateX(-24em);
    }
}

@media screen and (max-width: 767px) {
    .container {
        width: 540px;
    }
    .menu {
        display: none;
    }
    .title-site {
        font-size: 65px;
    }
    .animation-chel {
        transform: scale(37%) translateX(-83%);
        margin-top: -90px;
        margin-bottom: -90px;
    }
    .doroga1 {
        width: 267%;
    }
    .animation-chel-stone {
        transform: scale(45%) translateX(-60%);
        margin-top: -350px;
        margin-bottom: -180px;
    }
    .hand-stone-chel {
        transform: translate(-95%, 222%);
    }
    .windowimg {
        width: 479px;
    }
    .doroga2 {
        width: 220%;
    }
    .animation-chel-lie {
        transform: scale(37%);
    }
    .kust {
        transform: translateX(75%);
    }
    .chel3 {
        margin-bottom: -170px;
    }
    .animation-chel-lie .ohrannik {
        margin-left: 35%;
    }
    .doroga3 {
        width: 270%;
        transform: translateX(-32%);
    }

    .img-tur img {
        width: 83%;
    }
    .img-tur .korotkoe-foto {
        margin-top: 20px;
    }
    .img-tur .korotkoe-foto2 {
        margin-top: 27px;
    }
    .img-tur .dlinnoe-foto3 {
        margin-top: -27px;
    }

    .gamburger {
        display: block;
    }
}

@media screen and (max-width: 540px) { /*так вообще сдезь должно быть 575px*/
    .container {
        width: 93%;
    }
    .animation-chel {
        transform: scale(28%) translateX(-123%);
        margin-bottom: -130px;
    }
    .doroga1 {
        width: 1040px;
    }
    .animation-chel-stone {
        transform: scale(28%) translateX(-123%);
        margin-bottom: -270px;
    }
    .windowimg {
        width: 479px;
    }
    .doroga2 {
        width: 1040px;
    }
    .animation-chel-lie {
        transform: scale(28%);
        margin-bottom: -210px;
    }
    .doroga3 {
        width: 350%;
        transform: translateX(-35.5%);
    }
    .title-site {
        font-size: 50px;
    }
    .tel {
        position: relative;
        font-size: 16px;
        margin-left: auto;
    }
    .gamburger {
        margin-left: 30px;
    }
}

@media screen and (max-width: 500px) {
    .container {
        width: 93%;
    }
    .modal-okno {
        transform: scale(90%) translate(-55.5%, -55.5%);
    }
}

@media screen and (max-width: 381px) {
    .modal-okno {
        transform: scale(75%) translate(-67%, -67%);
    }
}